{% extends "cltgm/base.html" %}

{% block title %}For Parents{% endblock %}

{% block content %}
<div class="container">
  <h1>
    For Parents
  </h1>

  <p>
    Alright, enough fluff, what the heck is D&D? D&D is a collaborative
    storytelling game where kids will learn creative problem solving in a group
    setting. The game itself will introduce kids to many topics and subjects:
    Geography through map reading, logic through solving puzzles, recursive
    mathematics using the dice and statistics in the game, science in the
    implementation of weather and climate to specific terrain environments, and
    mythology of monsters from a variety of cultures.
  </p>

  <p>
    Cool, so it’s a game where my kids learn stuff, but why play this instead
    of a video game? Video games can be great for short periods of time or to
    kill a few moments while waiting in a doctor’s office or while in line at a
    store, but long term screen time can be damaging to the eyes and serve as a
    significant distraction from school or hobbies. Video games are also
    created with a win/lose mentality that does not exist in D&D. The point of
    D&D is to PLAY, not to WIN. It’s an experience that friends and families
    share and relive when they retell the story and creates memories akin to
    telling stories around the campfire, bedtime stories, or favorite books.
  </p>

  <p>
    Great, it’s healthier than video games because you interact with people
    instead of a computer or phone, but it’s a little expensive… We offer
    introductory sessions, and that’s exactly what they are, introductions. We
    want to introduce you to the game and the world of tabletop gaming so that
    you can do it yourself! You won’t believe how quickly your kids will come
    up with their own short stories that take an hour or less to play once they
    have played at least one session. All the rules for the game are available
    at many outstanding retailers and book stores. All you really need is the
    Player’s Handbook and you can create your own stories. For a more advanced
    game you need the Dungeon Master’s Guide to gain access to new rules, story
    writing methods, and magic items and the Monster Manual for new monsters to
    fight against, ranging from silly goblins to mighty dragons!
  </p>

  <p>
    I see that you’ve put a lot of thought into this, but it still sounds like
    a sales pitch, are there objective benefits to this? Yes, many schools and
    psychologists are beginning to use the tabletop gaming genre in order to
    allow children to relieve anxiety in social situations. The games
    themselves also allow children to take on new personalities and functions
    in a group. If your child has trouble making decisions, try having them
    make a character that is a leader and follow their decisions, showing them
    the positive results that can follow from more assertive behavior. Teamwork
    does wonders for building self-esteem and extra time with the family is
    helpful for children of all ages, from 10 to 60.
  </p>

  <p>
    I’ve heard things from when I was younger about how the game was
    anti-religious or inconsistent with moral values, is that true? D&D is a
    fantasy game, which should answer that question. The fantasy setting allows
    for bright games where most races get along and conflicts are mild battles
    where enemies are defeated but not killed, allowing them to return to fight
    another day. But it also allows for darker games where werewolves and
    vampires stalk the streets after dark and death lurks around every corner.
    Each game is tailored to Players by using common myths and monsters with
    the understanding that it is all make believe and not reality. The game is
    for fun and not a replacement for your religion or moral discussions with
    your children.
  </p>

</div> 
{% endblock %}
