{% extends "cltgm/base.html" %}

{% load static %}

{% block title %}Pricing{% endblock %}

{% block content %}
<div class="container">
  <h1>
    Pricing
  </h1>

  <div class="spacer"></div>

  <div class="row">
    <div class="col-sm">
      <h2>
        Introduction for New Players
      </h2>
    </div>

    <div class="col-md-4">
      <h2>
        $50/player
      </h2>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-secondary btn-collapse" 
        type="button" 
        data-toggle="collapse" 
        data-target="#new-players-description" 
        aria-expanded="false" 
        aria-controls="new-players-description"
        id="new-players-description-button"
        onclick=>
        {% include "cltgm/small-down-caret.html" %}
      </button>
    </div>
  </div>

  <div class="collapse" id="new-players-description">
    <p>
      If you and a few friends would like to learn the basics of how to play then
      this is the session for you. The Intro session includes one 3 to 4 hour
      session using a Starter Set for Dungeons and Dragons. Current choices are
      the Standard 5e Starter and the Stranger Things themed Starter.
    </p>

    <p>
      Characters are chosen from a list of pregenerated characters included with
      the Set. Players are provided with one set of dice and one painted
      miniature to use for the gaming session. The game can be played in the
      comfort of your own home, at a local game store, or at a public location of
      your choosing that is gamer friendly, such as a coffee bar, brewery, and
      some restaurants.
    </p>

    <p>
      The fee is $50 per participating Player. The standard group is 4 to 6
      Players.
    </p>
  </div>

  <div class="spacer"></div>
  
  <div class="row">
    <div class="col-sm">
      <h2>
        Introduction for Families
      </h2>
    </div>

    <div class="col-md-4">
      <h2>
        $50/adult, $75/child
      </h2>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-secondary btn-collapse" 
        type="button" 
        data-toggle="collapse" 
        data-target="#families-description" 
        aria-expanded="false" 
        aria-controls="families-description"
        id="families-description-button"
        onclick=>
        {% include "cltgm/small-down-caret.html" %}
      </button>
    </div>
  </div>

  <div class="collapse" id="families-description">
    <p>
      If you would like to introduce the magic you remember from childhood to
      your children or you just plain don’t understand what your kids keep
      talking about then this session is for you. The Intro for Families session
      includes one 3 to 4 hour session using a Starter Set for Dungeons and
      Dragons. Current choices are the Standard 5e Starter and the Stranger
      Things themed Starter. Each Starter will be edited based upon the age of
      your children to ensure family focused fun isn’t ruined by complicated
      rulesets or adult themes or situations. For example, a gaming session for
      10 to 12 year old Players is typically shorter and monsters are defeated
      but not killed.
    </p>

    <p>
      Characters are chosen from a list of pregenerated characters included with
      the Set. Players are provided with one set of dice and one painted
      miniature to use for the gaming session. The Intro for Families are
      typically played at home where younger Players can feel comfortable trying
      something new with parents, siblings, or any other relative or friends.
    </p>

    <p>
      The fee is $75 per participating Child Player and $50 per participating
      Adult Player. The standard group is 3 to 6 Players.
    </p>
  </div>

  <div class="spacer"></div>
  
  <div class="row">
    <div class="col-sm">
      <h2>
        Reintroduction for Returning Players
      </h2>
    </div>

    <div class="col-md-4">
      <h2>
        $50/player
      </h2>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-secondary btn-collapse" 
        type="button" 
        data-toggle="collapse" 
        data-target="#returning-players-description" 
        aria-expanded="false" 
        aria-controls="returning-players-description"
        id="returning-players-description-button"
        onclick=>
        {% include "cltgm/small-down-caret.html" %}
      </button>
    </div>
  </div>

  <div class="collapse" id="returning-players-description">
    <p>
      If you have played other tabletop roleplaying games in the past or want to
      return to D&D this session is for you. The Reintroduction session includes
      one 3 to 4 hour session using a Starter Set for Dungeons and Dragons.
      Current choices are the Standard 5e Starter and the Stranger Things themed
      Starter.
    </p>

    <p>
      Characters are generated using an abbreviated character creation method
      made by us here at “Business Name” designed to speed up the process by
      including common races, classes, and the typical powers used by the
      appropriate class. Additionally, there are a few questions that are
      designed to create camaraderie between Players from the beginning instead
      of that awkward “So you’re all in a tavern…” beginning.
    </p>

    <p>
      Players are provided with one set of dice and one miniature to use for the
      sexes, races, and common classes, but as such we cannot guarantee that the
      miniature will be painted. The game can be played in the comfort of your
      own home, at a local game store, or at a public location of your choosing
      that is gamer friendly, such as a coffee bar, brewery, and some
      restaurants.

    </p>

    <p>
      The fee is $50 per participating Player. The standard group is 4 to 6
      created due to the additional time and resources necessary to create the
      characters.
    </p>
  </div>

  <div class="spacer"></div>
  
  <div class="row">
    <div class="col-sm">
      <h2>
        Custom Setting or Campaign
      </h2>
    </div>

    <div class="col-md-4">
      <h2>
        $75-100+/player
      </h2>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-secondary btn-collapse" 
        type="button" 
        data-toggle="collapse" 
        data-target="#custom-setting-description" 
        aria-expanded="false" 
        aria-controls="custom-setting-description"
        id="custom-setting-description-button"
        onclick=>
        {% include "cltgm/small-down-caret.html" %}
      </button>
    </div>
  </div>

  <div class="collapse" id="custom-setting-description">
    <p>
      If you’re familiar with D&D 5e or you’ve tried one of our introductory
      Starter Set and want to continue with the same characters, or you have
      always wanted to try one of the numerous named adventures in the D&D
      universe then this session is for you. Sessions are 3 to 4 hours but
      require more coordination with the DM.
    </p>

    <p>
      Characters may be carried over from the Starter Set, allowing you to reach
      new levels of power previously unavailable. Or you could start with brand
      new characters, either using the abbreviated character creation method made
      by us here at “Business Name” or custom character creation using all the
      available rules in 5e.
    </p>

    <p>
      Players are provided with one set of dice and one miniature to use for the
      gaming session. Players will select their miniature from an assortment of
      sexes, races, and common classes, but as such we cannot guarantee that the
      miniature will be painted. Players may also already have their own dice or
      miniature, which may be used with the game. The game can be played in the
      comfort of your own home, at a local game store, or at a public location of
      your choosing that is gamer friendly, such as a coffee bar, brewery, and
      some restaurants. Custom campaigns may want to schedule multiple sessions
      at a time to ensure all Players are available once per month, bimonthly, or
      at any other schedule best for the Players.
    </p>

    <p>
      The fee is $75 or more per participating Player, based upon the amount of
      writing and preparation needed for the session. Using a published adventure
      is $75 and a custom adventure or campaign is $100 or more based upon
      complexity and how long the campaign has been running. The standard group
      is 4 to 6 Players. The abbreviated character creation method is $5 per
      character created due to the additional time and resources necessary to
      create the characters. The custom character creation method is $10 per
      character created due to the additional time and resources necessary to
      comb through all available tomes of knowledge for your character.
    </p>
  </div>

  <div class="spacer"></div>
  
  <div class="row">
    <div class="col-sm">
      <h2>
        Dungeon Challenge
      </h2>
    </div>

    <div class="col-md-4">
      <h2>
        $25/player
      </h2>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-secondary btn-collapse" 
        type="button" 
        data-toggle="collapse" 
        data-target="#dungeon-challenge-description" 
        aria-expanded="false" 
        aria-controls="dungeon-challenge-description"
        id="dungeon-challenge-description-button"
        onclick=>
        {% include "cltgm/small-down-caret.html" %}
      </button>
    </div>
  </div>

  <div class="collapse" id="dungeon-challenge-description">
    <p>
      Are you looking just to keep the good times rolling on a schedule that
      suits you? We are currently looking to begin Dungeon Challenge sessions
      that meet at regular intervals at public locations in Charlotte, NC. Delve
      into the secrets of the subterranean Underdark on Wednesdays. Investigate
      urban intrigue in Waterdeep on Fridays. Sessions are drop in and $25 per
      Player. Deposits are required to hold your place and are non-refundable.
      Dungeon Challenges occur as long as there is at least one Player available,
      although the ideal group is between 4 and 6 players.
    </p>
  </div>

  <div class="spacer"></div>
  
  <div class="row">
    <div class="col-sm">
      <h2>
        Dice
      </h2>
    </div>

    <div class="col-md-4">
      <h2>
        varies
      </h2>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-secondary btn-collapse" 
        type="button" 
        data-toggle="collapse" 
        data-target="#dice-description" 
        aria-expanded="false" 
        aria-controls="dice-description"
        id="dice-description-button"
        onclick=>
        {% include "cltgm/small-down-caret.html" %}
      </button>
    </div>
  </div>

  <div class="collapse" id="dice-description">
    <p>
      You may fall in love with a particular dice set that we use or have such
      great success with it that you wish to purchase it during or after your
      session. Dice are typically sold as a set which includes a d4, d6, d8, d10,
      d%, d12, and d20. Prices vary based upon factors such as color, speckling,
      composition (plastic or metal), and other factors.
    </p>

    <p>
      Dice can also be purchased at many local gaming stores or online through
      gaming stores. We do encourage you to purchase your supplies from a local
      game store or online game retailer instead of Big Box Stores or Online
      Emporiums, as your local game store is your portal to new games, players,
      and friends.
    </p>
  </div>

  <div class="spacer"></div>
  
  <div class="row">
    <div class="col-sm">
      <h2>
        Miniatures
      </h2>
    </div>

    <div class="col-md-4">
      <h2>
        varies
      </h2>
    </div>

    <div class="col-sm-1">
      <button class="btn btn-secondary btn-collapse" 
        type="button" 
        data-toggle="collapse" 
        data-target="#miniatures-description" 
        aria-expanded="false" 
        aria-controls="miniatures-description"
        id="miniatures-description-button"
        onclick=>
        {% include "cltgm/small-down-caret.html" %}
      </button>
    </div>
  </div>

  <div class="collapse" id="miniatures-description">
    <p>
      You may fall in love with a particular miniature that we use and want to
      keep it as a souvenir or for your own gaming sessions. Miniatures are
      typically sold individually and may or may not include a “base” for the
      figure. Prices vary upon composition (plastic or metal), complexity of the
      figure (number of parts or amount of assembly), and whether the miniature
      is pre-painted or hand painted.
    </p>

    <p>
      Miniatures can also be purchased at many local gaming stores or online
      through gaming stores. We do encourage you to purchase your supplies from a
      local game store or online game retailer instead of Big Box Stores or
      Online Emporiums, as your local game store is your portal to new games,
      players, and friends.
    </p>
  </div>

</div>
{% endblock %}
