{% extends "cltgm/base.html" %}

{% block title %}What is D&D?{% endblock %}

{% block content %} 
<div class="container">
  <h1>
    What is D&D?
  </h1>
  <p>
    Dungeons and Dragons (D&D) is by far the world’s most popular and successful
    tabletop roleplaying game. Dungeons and Dragons was created by Gary Gygax and
    Dave Arneson in 1974. It has since gone through many changes and revision,
    known as Editions, with the current revision being 5th Edition (5e).
  </p>

  <p>
    The game itself is a storytelling adventure game generally played by a group of
    friends who sit around a table armed with the current rules, their paper
    character sheet, and a writing utensil, dice, and their collective imagination.
    Unlock many modern games that rely on luck, skill, or logic to attain a goal
    and win the game, D&D is a collaborative problem solving game where players
    take on the roles of fictional characters in a world limited only by
    imagination. Typically these stories revolve around delving into long forgotten
    dungeons, fighting terrifying monsters, or finding fabulous treasure in a
    fantasy setting. There is no preset win condition, such as owning all the
    properties in Monopoly, or building a trade empire in Catan. Instead, the story
    and the exploration of your own custom world is the goal. Basically, D&D is a
    game of structured make believe using written rules to make sure everyone has
    their fair share of fun.
  </p>

  <p>
    But how do you play? Well, there are two roles, the Players and the Dungeon
    Master. Players create one character which represents an individual in the
    world and then the Player takes on that character’s persona in order to explore
    the game world. Character creation basically follows a flow chart that allows
    you to customize a character’s species (Human, Elf, Dwarf, etc), class or role
    (Fighter, Wizard, Cleric, etc), and abilities (Shield Specialist, Spells,
    Fighting Style, etc). Finally, the Player names their character and gives them
    a short backstory to explain how they behave in the game. This can be as simple
    or as complex as the Player desires.
  </p>

  <p>
    An example would be a Human Male Fighter who is noble but flawed after years
    unsuccessfully defending their kingdom and now seeks outside help to prevent
    its downfall. This essentially describes Boromir from the Lord of the Rings
    without all 3 books worth of backstory, but still gives you a solid idea of how
    a character might behave when presented with moral choices. All choices are
    ultimately up to the Player with the end goal of having fun with your
    character.
  </p>

  <p>
    One Player out of the group must take on the role of the Dungeon Master, or DM.
    While the Players are like the actors in a play or movie, the DM is the author
    writing the story, the director framing and describing the action, and the
    referee deciding how the rules apply to the actions the characters take.
    Everything besides the Player’s characters is controlled by the DM, from the
    other characters in the story, to the monsters and traps, and the surrounding
    area and environments. This sometimes creates the illusion that the DM is
    “against” the Players. In reality, the DM creates the world the characters live
    in, writes the ongoing story that links each gaming session to the next,
    maintains the game’s pace and provides feedback to the Players on how their
    actions affect the world around them. Overall, the DM ensures that the Players
    are engaged and challenged with interesting problems and choices that make your
    own fantasy world come to life. The DM isn’t trying to kill your characters, no
    matter what the dice lead you to believe…
  </p>

  <p>
    Speaking of dice, when do you use them, why so many, and what’s with the
    shapes? The dice introduce a bit of luck and randomness to the game. Since the
    best laid plans of mice and men tend to go awry, the game would be boring if
    every action a character took turned out to be the right one. D&D mainly
    revolves around the twenty-sided die, often abbreviated as d20 (“d” for dice,
    “20” for the number of sides). Generally, the main rule of the game is:
    Describe your character’s action then roll the appropriate die or dice to see
    if you succeed or fail, and to what degree. When a character succeeds or fails,
    sometimes it is only to a degree, such as causing damage. Each weapon like a
    sword or a bow deals different damage, randomized with the use of the dice. A
    two-handed axe might use a d12 (twelve-sided die) while a shortbow might use a
    d6 (standard six-sided die). Dice can be purchased in sets with a d4, d6, d8,
    two d10s, d12, and d20 and come in a myriad of colors and can even be custom
    ordered. Dice collecting forms another facet of the hobby with many Players
    owning several sets.
  </p>
</div>
{% endblock %}